In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv("Automobile_data.csv", na_values={ 
'price':["?","n.a"], 
'stroke':["?","n.a"], 
'horsepower':["?","n.a"], 
'peak-rpm':["?","n.a"], 
'average-mileage':["?","n.a"]}) 
 
df

In [ ]:
missing_value=["?","n.a",np.NaN] 
df=pd.read_csv("Automobile_data.csv",na_values=missing_value)

In [ ]:
df.isnull().sum()

In [ ]:
df.isnull().sum()

In [ ]:
df=df.drop("index",axis=1)

In [ ]:
df["price"].max()

In [ ]:
most_exp_car=df[["company","price"]][df.price==df["price"].max()] 
most_exp_car

In [ ]:
# 201
df.groupby("company").get_group("toyota")

In [ ]:
# 202
df["company"].value_counts()

In [ ]:
#  203
import warnings 
warnings.filterwarnings("ignore")

In [ ]:
df.groupby("company")[["company","price"]].max()

In [ ]:
# 204
df.groupby("company")[["company","average-mileage"]].mean()

In [ ]:
# 205
df.sort_values("price",ascending=False)

In [ ]:
# 206
GermanCars = {'Company': ['Ford', 'Mercedes', 'BMV', 'Audi'], 'Price': [23845, 171995, 13995, 174500]}
japaneseCars = {'Company': ['Toyota', 'Honda', 'Nissan', 'Mitsubishi '], 'Price': [29995, 23600, 24000, 34900]}