In [ ]:
import pandas as pd

In [ ]:
df=pd.read_csv("iris_data.csv")

In [ ]:
df=df.drop("Id", axis=1)

In [ ]:
df.head()

In [ ]:
df = df.rename(columns={
	"SepalLengthCm": "sepal_length",
	"SepalWidthCm": "sepal_width",
	"PetalLengthCm": "petal_length",
	"PetalWidthCm": "petal_width",
	"Species": "species"
})

In [ ]:
df["species"]=df["species"].str.replace("Iris-","")

In [ ]:
#shape of the table 
df.shape

In [ ]:
# how many different species are there? 
df["species"].nunique()

In [ ]:
#how many time each species is repeated in given dataset 
df["species"].value_counts()

In [ ]:
#how many rows are there whose sepal length is greater than its mean 
(df["sepal_length"]>df["sepal_length"].mean()).sum()

In [ ]:
#extract all the rows whose petal width is greater than 1.5 and petal length is lesser t 
df[(df["petal_width"]>1.5) & (df["petal_length"]<5)]

In [ ]:
#which species has highest sepal length 
 
df["sepal_length"].max()

In [ ]:
df[df["sepal_length"]==df["sepal_length"].max()]

In [ ]:
df.groupby("species").agg(["mean","median"])