## Adriaan M. Dimate
## BSCS 3-A
## September 27, 2025
## idk anymore when did I complete this

Exercise 199

# Iris dataset

In [ ]:
import pandas as pd

In [ ]:
df=pd.read_csv("iris_data.csv")

In [ ]:
df=df.drop("Id", axis=1)

In [ ]:
df.head()

In [ ]:
# rename the column name
df=df.rename(columns={"SepalLengthCm":"sepal_length","SepalWidthCm":"sepal_width",

"PetalLengthCm":"petal_length","PetalWidthCm":"petal_width","Species":"species"})

In [ ]:
df["species"]=df["species"].str.replace("Iris-","")

In [ ]:
#shape of the table 
df.shape

In [ ]:
# how many different species are there? 
df["species"].nunique()

In [ ]:
#how many time each species is repeated in given dataset 
df["species"].value_counts()

In [ ]:
#how many rows are there whose sepal length is greater than its mean 
(df["sepal_length"]>df["sepal_length"].mean()).sum()

In [ ]:
#extract all the rows whose petal width is greater than 1.5 and petal length is lesser t 
df[(df["petal_width"]>1.5) & (df["petal_length"]<5)]

In [ ]:
#which species has highest sepal length 
 
df["sepal_length"].max()

In [ ]:
df[df["sepal_length"]==df["sepal_length"].max()]

In [ ]:
df.groupby("species").agg(["mean","median"])

Exercise 200

# Automobiles

In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv("Automobile_data.csv", na_values={
'price':["?","n.a"],
'stroke':["?","n.a"],
'horsepower':["?","n.a"],
'peak-rpm':["?","n.a"],
'average-mileage':["?","n.a"]})
df

In [ ]:
missing_value=["?","n.a",np.NaN] 
df=pd.read_csv("Automobile_data.csv",na_values=missing_value)

In [ ]:
df.isnull().sum()

In [ ]:
df=df.drop("index",axis=1)

most expensive car company name

In [ ]:
df["price"].max()

In [ ]:
most_exp_car=df[["company","price"]][df.price==df["price"].max()] 
most_exp_car

Exercise 201

In [ ]:
df.groupby("company").get_group("toyota")

Exercise 202

In [ ]:
df["company"].value_counts()

Exercise 203

In [ ]:
import warnings 
warnings.filterwarnings("ignore")

In [ ]:
df.groupby("company")[["company","price"]].max()

Excercise 204

In [ ]:
df.groupby("company")[["average-mileage"]].mean()

Exercise 205

In [ ]:
df.sort_values("price",ascending=False)

Exercise 206

In [ ]:
GermanCars = {'company': ['Ford', 'Mercedes', 'BMV', 'Audi'], 'Price': [23845, 171995, 135925 , 71400]}
japaneseCars = {'company': ['Toyota', 'Honda', 'Nissan', 'Mitsubishi '], 'Price': [29995, 23600, 61500 , 58900]}

In [ ]:
germanCar=pd.DataFrame.from_dict(GermanCars)
germanCar

In [ ]:
japaneseCar=pd.DataFrame.from_dict(japaneseCars)
japaneseCar

In [ ]:
carsDF=pd.concat([germanCar,japaneseCar],keys=["germany","Japan"])
carsDF

Exercise 207

In [ ]:
Car_Price = {'company': ['Toyota', 'Honda', 'BMV', 'Audi'], 'Price': [23845, 17995, 135925 , 71400]}
car_Horsepower = {'company': ['Toyota', 'Honda', 'BMV', 'Audi'], 'horsepower': [141, 80, 182 , 160]}

In [ ]:
carHorsepower=pd.DataFrame.from_dict(car_Horsepower)
carHorsepower

In [ ]:
carsDF=pd.merge(carPrice,carHorsepower,on="company")
carsDF